<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addAdminStyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="{{ url_for('static', filename='js/PcStoreCode.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
    <div class="pageContainer">
        <div class="button-back-container">
            <button class="ui button" onclick="goToPanel();">
                <i class="ui left arrow icon"></i>
            </button>
        </div>
        <div class="ui middle aligned center aligned grid">
             <div class="column">
                 <h1 class="ui top attached block header">
                    Agregar cuenta admin
                 </h1>
                 <div class="ui bottom attached segment">
                     <form action="{{ url_for('adminBp.add_admin') }}" class="ui form" method="post">
                         {{ form.csrf_token }}
                         <div class="field">
                             <h4 class="ui header">
                                {{ form.admin_name.label }}
                            </h4>
                                {{ form.admin_name }}
                         </div>
                         <div>
                             <div class="field">
                             <h4 class="ui header">
                                {{ form.email.label }}
                            </h4>
                                {{ form.email }}
                         </div>
                         <div>
                             <div class="field">
                             <h4 class="ui header">
                                {{ form.admin_password.label }}
                            </h4>
                                {{ form.admin_password }}
                         </div>
                         </div>
                         <div class="field">
                             <button type="submit" class="ui button">Agregar</button>
                         </div>
                     </form>
                     {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="ui yellow message">
                            {{ messages[0] }}
                        </div>
                        {% endif %}
                    {% endwith %}
                 </div>
             </div>
        </div>
    </div>
    <script>
        function goToPanel(){
            location.href="{{ url_for('adminBp.admin_panel') }}"
        }
    </script>
</body>
</html>