<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block tittle %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='js/PcStoreCode.js') }}"></script>
    {% endblock %}
</head>
<body>
    <div class="ui sidebar">
        <div class="ui left vertical inverted menu sidebar" id="sidebar-menu">
            <div class="item">
                <div class="ui blue header">PC Componentes</div>
                <div class="menu">
                    <a class="item" id="sidebar-item" href="/store/category/1/">
                      Procesadores
                    </a>
                    <a class="item" id="sidebar-item">
                      Memorias RAM
                    </a>
                    <a class="item" id="sidebar-item">
                      Discos Duros
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="ui blue header">Computadores</div>
                <div class="menu">
                    <a class="item" id="sidebar-item">Portatiles</a>
                    <a class="item" id="sidebar-item">De Escritorio</a>
                </div>
            </div>
            <div class="item">
                <div class="ui blue header">Perifericos</div>
                <div class="menu">
                    <a href="" class="item" id="sidebar-item">Teclados</a>
                    <a href="" class="item" id="sidebar-item">Ratones</a>
                    <a href="" class="item" id="sidebar-item">Altavoces</a>
                    <a href="" class="item" id="sidebar-item">Monitores</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pusher">
        <div id="header">
            <div class="ui secondary menu" id="menu">
                <div class="item" id="products-sidebar-activator">
                    <div class="ui inverted basic button">
                        <i class="sidebar icon"></i> Productos
                    </div>
                </div>
                <div class="center-container">
                    <div class="logo-container"></div>
                    <a href="{{ url_for('store.home_page')}}" class="logo-link">
                        <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="CompuTech">
                        <h2 id="logTittle">CompuTech Store</h2 class="ui item">
                    </a>
                </div>
                <div class="right menu">
                    <div class="item">
                        <button class="ui button" onclick="goToShoppingCar()">
                            <i class="shop icon"></i>
                        </button>
                    </div>
                    <div class="item">
                        <button class="ui button" id="acces-btn">
                            <i class="icon user"></i>
                            {% if current_user.is_authenticated %}
                                {{ current_user.login_name }}
                            {% else %}
                               Acceder
                            {% endif %}
                        </button>
                        <div class="ui inverted popup">
                            <div class="ui inverted middle aligned link list">
                                {% if current_user.is_authenticated %}
                                    <a href="{{ url_for('userBp.account')}}" class="item">Cuenta</a>
                                    <a href="{{ url_for('userBp.logout')}}" class="item">Cerrar Sesion</a>
                                {% else %}
                                    <a href="{{ url_for('userBp.login')}}" class="item" >Iniciar Sesion</a>
                                    <a href="{{ url_for('userBp.signup')}}" class="item">Registrarse</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui modal">
                <div class="ui attached centered aligned segment">
                    <h1 class="ui centered aligned red header">Función no disponible</h1>
                    <p class="infoModal">Debes iniciar sesion para poder realizar una compra</p>
                </div>
                <div class="ui bottom attached right aligned segment">
                    <div class="ui buttons">
                      <button class="ui button" id="boton-Cancelar">Cancelar</button>
                      <div class="or" data-text="o"></div>
                      <form action="{{ url_for('userBp.login')}}">
                          <button class="ui positive button">Iniciar Sesion</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        {% block footer %}
        <div class="ui vertical footer segment" id="footer-segment">
            <h1 class="ui header">Contacto y derechos</h1>
        </div>
        {% endblock %}
    </div>
    <script>
    {% block script %}
        $('#products-sidebar-activator').click(function () {
            $('#sidebar-menu').sidebar('toggle');
        })
        $('#acces-btn')
          .popup({
            popup : $('.popup'),
            on    : 'click'
          })
        ;
        $('.modal')
          .modal('attach events', '.animated.button', 'show')
          .modal('attach events', '#boton-Cancelar', 'hide')
        ;

        function goToShoppingCar(){
            location.href = "{{ url_for('order.show_order') }}"
        }
    {% endblock %}
    </script>
</body>
</html>