
#right-arrow-btn{
    margin-left: 80px;
    margin-top: 250px;
}
#left-arrow-btn{
    margin-right: 80px;
    margin-top: 250px;
}
.arrow.left.icon{
    transition: transform 1s;
}
#left-arrow-btn:hover .arrow.left.icon{
    transform: scale(1.5, 1.5);
}
.ui.shape{
    margin-top: 50px;
    duration: 700ms;
    width: 400px;
    height: 400px;
}
img{
    width: 400px;
    height: 400px;
}

