<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
    <form action="" method="post">
        <input type="hidden" value="{{ csrf_token()}}" name="csrf_token">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image"><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" placeholder='$'><br>
        <label for="weight">Weight:</label>
        <input type="number" id="weight" name="weight"><br>
        <label for="description">Description:</label>
        <input type="numdescriptionber" id="description" name="description"><br>
        <label for="refundable">Refundable:</label>
        <select name="refundable" id="refundable">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select><br>
        <label for="category_id">Category id:</label>
        <input type="number" id="category_id" name="category_id"><br>
        <input type="submit" id="send_category" name="send_category" value="Send Product">
    </form>
</body>
</html>